body {
    background-color: #8b8c8e;
}

.navbar-brand img {
    width: 100px;
    height: auto;
    margin-top: -10px;
}

.navbar-light {
    background-color: #3df246;
}

.nav-item {
    color: #110101;
    font-weight: bold;
}

.home-text.mx-auto {
    color: red;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#navbarText .navbar-text.text-muted {
    color: #111016;
    font-weight: bold; 
}

.about-container {
    color: #140202cf;
    font-weight: bold;
    text-align: center;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #ffffff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

#detail {
    height: 50vh;
    font-weight: 800;
    text-align: center;

}

.masthead {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 50vh;
    width: 100%;
}

.masthead-text {
    position: relative;
    color: #445261;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 80%;
    color: #445261;
}

.post-subtitle {
    margin-left: 10%;
    color: #2c1b04;
}

.tags {
    margin-left: 10%;
    color: #445261;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn.btn-signup {
    background-color: #23BBBB;
    color: #ded8d8;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.btn-signup:hover,
.btn.btn-signup:active {
    background-color: #463c3c;
    color: #23BBBB;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #463c3c;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.container-image {
    text-align: center;
    margin-top: 40px;
}

.container-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.home-message {
    text-align: center;
    font-style: italic;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 30px;
    color: #077003;
}

.home-message p {
    margin-top: 20px;
}

.home-message .blessing {
    text-align: center;
    font-style: italic;
    color: #140424;
}

.welcome-message {
    text-align: center;
    color: blueviolet;
    margin-top: 20px;
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
  
.fade-in-out {
    animation: fadeInOut 3s ease-in-out infinite;
}

footer {
    background-color: #97928d;
    position: relative;
}

.container-search {
    margin-top: 50px;
    width: 50%;
}

.container-mt-3{
    display: flex;
    justify-content: center;
}

.form-control {
    padding-right: 40px;
}

.input-group {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.input-group-append {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
