{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <h1 class="text-center mb-4">Your Dashboard</h1>

                {% if user_posts %}
                    <h2 class="text-center">Your Approved Posts</h2>
                    <ul>
                        {% for post in user_posts %}
                            <li><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-center">You haven't created any posts yet.</p>
                {% endif %}

                <h2 class="text-center">Create a New Post</h2>
                <form method="post" action="{% url 'dashboard' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ post_form.as_p }}
                    {{ post_form.media }}
                    <button type="submit" class="btn btn-outline-info d-block mx-auto">Submit Post</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
