{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="welcome-message"><h1 class="fade-in-out">Welcome to Christian Youth Blog!</h1></div>
    <div class="container-image">
        <img src="https://res.cloudinary.com/dmwocs4qe/image/upload/v1707632847/youth-sharpened_km2vs5.png" alt="image of youth">
    </div>
    <div class="home-message">
        <p>
            As we navigate the highs and lows of life, let us remember the words of 
            Psalm 119:105: "Your word is a lamp for my feet, a light on my path." 
            May this blog serve as a guiding light, illuminating our way as we 
            strive to live out God's love in our daily lives.
        </p>
        <span class="home-text mx-auto">
            Ecclesiastes 12:1 - Remember your Creator in the days of your youth
        </span>
        <p class="blessing">"With love and blessings"</p>
    </div>
{%endblock%}
